<div class='card custom-project-card'>
  <div class='card-header custom-card-header'>
    <h5>Project Title</h5>
    <h5>Project created by blah blah on 0/0/0000</h5>
  </div>
  <div class='card-body'>
    <h5 class='card-title'>Description</h5>
    <p class='card-text'>Project description content</p>
    <p>Funding Needed:</p>
    <a href='#' class='btn btn-primary'>Fund Project</a>
  </div>
</div>